<div class="container">
  <%= render "search/search_form" %>
  <div>
    <div class="row">
      <div class="col-md-8">
        <h2>Articles</h2>
        <div class="article-list">
          <%= render "articles/article_list"%>
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">Saved Searches</h2>
        <div class="saved-searches">
          <%= render "articles/saved_searches" %>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
